<!DOCTYPE HTML>
<html>
	<head>
		<title>Join a Study</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body >

    <div class="container" >
      <form name="form" method="" action="" novalidate>
        <label for="name" id = "nameLabel"> Name:</label>
        <br>
        <input id="name" name="name" type="text" ng-model="user.name">
        <br>
        <label for="email">Email:</label>
        <br>
        <input id="email" name="email" type="email" ng-model="user.email">
        <br>
        <label for="age">Age:</label>
        <br>
        <input id="age" name="age" type="text" ng-model="user.age">
        <br>
        <label for="weight">Weight:</label>
        <br>
        <input id="weight" name="weight" type="text" ng-model="user.weight">
        <br>
        <input type="submit" value="Send">
      </form>
    </div>
	</body>
</html>
