<!DOCTYPE HTML>
<html>
	<head>
		<title>Researchify</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="./images/avatar.jpg" alt="" /></span>
							<h1>Researchify</h1>
							<p>Simplifying Research Study Participation</p>
						</header>

						<footer>
							<ul class="icons">
								<li><a href="#/view2">Make a Study</a></li>
								<li><a href="#/view3">Join a Study</a></li>
							</ul>
						</footer>
					</section>
			</div>

            <select type="select" ng-model="pick" ng-options="pickName.Name for pickName in results" ng-click="getID(pick);">
                </select>
	</body>
</html>
